{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "비밀번호 재설정" %}{% endblock %}

{% block content %}

    <h1>{% trans "비밀번호 재설정" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "비밀번호를 잊어버리셨나요? 아래에 가입하신 이메일을 입력하시면 그 주소로 재설정 메일을 보내드릴게요 :)" %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <a role="button" class="btn btn-outline-dark btn-sm" type="submit" value="{% trans 'Reset My Password' %}" >재설정 메일 보내기</a>
    </form>

    <p class="mt-3">{% blocktrans %}비밀번호 재설정 과정에서 문제가 계속 발생하면 고객센터로 문의해주세요.{% endblocktrans %}</p>
{% endblock %}
