{% extends 'shop/base.html' %}
{% block 'main_area' %}
{% include 'home/navbar.html' %}
    <section class="py-5 text-center container">
        <div class="row mt-3 py-lg-5 text-center" style="background-image: URL(/static/home/images/8f12c522b317357e028e336ac76e825b.jpg)">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Welcome to Ebly! 🥰</h1>
                <p class="lead text-muted">여러분의 쇼핑 라이프에 혁신을 가져다 줄 Ebly!
                    <p>365일 24시간 무료배송!
                <p>
                    <a href="/shop" class="btn btn-secondary my-2">상품 둘러보기</a>
                    <a href="/accounts/signup" class="btn btn-secondary my-2">회원가입</a>
                </p>
        </div>
        </div>
    </section>


  <div class="album py-5 bg-light">
    <div class="container">
      <div>
        <strong>
          <h3>New Products - 신상 둘러보기 ✨</h3>
        </strong>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for good in new_goods %}
        <div class="col-sm-4 mt-3">
                <div class="card mb-3 mt-3 h-100">
                    <div>
                        <img class="card-img-top" src="{{ good.image.url }}" alt="{{ good }}" />
                    </div>
                    <div class="card-body">
                        <span class="badge bg-outline-dark float-rigth" style="color:gray;">{{good.category}}</span>
                        <h5 class="card-title">{{ good.name }}</h5>
                        <h6 class="card-text float-right">{{ good.price }} 원</h6>
                        <a class="btn btn-outline-dark" href="{{ good.get_absolute_url }}">자세히보기 →</a>
                    </div>
                    <div class="card-footer float-right" style="color:gray; font-size:small">
                        by {{good.company}}
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>

    {% include 'shop/footer.html' %}

{% endblock %}