{% extends 'shop/base.html' %}
{% block 'title_area' %}Product List{% endblock %}
{% block 'main_area' %}
{% include 'shop/navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-6 col-lg-6">
                {% if search_info %}
                <h5 class="mt-4">{{search_info}}</h5>
                {% elif company %}
                <h2 class="mt-4">{{company}} {% if category %}<span class="badge bg-light text-dark ml-2">{{category}}{% endif %}</span></h2>
                {% else %}
                <h2 class="mt-4">Products {% if category %}<span class="badge bg-light text-dark ml-2">{{category}}{% endif %}</span></h2>
                {% endif %}
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="input-group mt-4">
                  <input class="form-control" type="text" id="search-input" placeholder="상품을 검색해보세요" aria-label="Enter search term..." aria-describedby="button-search" />
                  <button class="btn btn-secondary ml-2" id="button-search" type="button" onclick="searchGood()">검색</button>
              </div>
            </div>
        </div>
        <!--side widget part -->
        <div class="row">
            <div class="col-md-3 col-lg-2">
                {% if not company %}
                {% if not category %}
                <div class="card mt-4">
                    <div class="card-header">
                        쇼핑몰별로</br>보기
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <ul style="list-style-type:square">
                            {% for com in companies %}
                                <li style="color:gray"><a href="{{com.get_absolute_url}}" style="color:gray">{{ com }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="card mt-4">
                    <div class="card-header">
                        카테고리별로</br>보기
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <ul style="list-style-type:square">
                            {% for c in categories %}
                                <li style="color:gray"><a href="{{c.get_absolute_url}}" style="color:gray">{{ c }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% else %} <!-- 회사가 정해진 상태에서 -->
                <div class="card mt-4">
                    <div class="card-header">
                        카테고리별로</br>보기
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <ul style="list-style-type:square">
                            {% for c in categories %}
                                <li style="color:gray"><a href="{{company.get_complex_url}}/{{c}}" style="color:gray">{{ c }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- product list -->
            <div class="col-md-9 col-lg-10">
                <div class="row">
                    {% if good_list.exists %}
                        {% for good in good_list %}
                        <div class="col-sm-4 mt-2">
                            <div class="card mb-3 mt-3 h-100">
                                <div>
                                    <img class="card-img-top" src="{{ good.image.url }}" alt="{{ good }}" />
                                </div>
                            <div class="card-body">
                                <span class="badge bg-outline-dark float-rigth" style="color:gray">{{good.category}}</span>
                                <h5 class="card-title">{{ good.name }}</h5>
                                <div class="card-text float-right">{{good.price}} 원</div>
                                <a class="btn btn-outline-dark mt-2" href="{{ good.get_absolute_url }}">구입하기 →</a>
                            </div>
                                <div class="card-footer float-right" style="color:gray; font-size:small">
                                    by {{good.company}}
                                </div>
                        </div>
                        </div>
                        {% endfor %}
                    {% else %}
                    <div class=" ml-5 mt-5 text-center">
                        아직 상품이 없습니다.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <!-- Pagination-->
        <div class="row mt-5 justify-content-center">
        <ul class="pagination justify-content-center mb-4">
            {% if page_obj.has_previous %} <!-- 이전 객체가 있을 경우 -->
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">← 이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">← 이전</a>
            </li>
            {% endif %}

            {% if page_obj.has_next %} <!-- 다음 객체가 존재할 경우 -->
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음 →</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">다음 →</a>
            </li>
            {% endif %}
        </ul>
    {% endif %}
            </div>
        </div>
    <div class="mt-5">
        {% include 'shop/footer.html' %}
    </div>


    <script>
      function searchGood() {
        let searchValue = document.getElementById('search-input').value.trim();
        if(searchValue.length > 1){
            location.href = "/shop/search/" + searchValue + "/";
        }
        else {
            alert('검색어(' + searchValue + ')가 너무 짧습니다.');
        }
      };
      document.getElementById('search-input').addEventListener('keyup',
                function(event){
                    if(event.key == 'Enter') { searchPost();}
                }
       )
  </script>

{% endblock %}